body{
    font-family:poppins;
    margin: 0;
    padding: 0;
  }
  
  .senior-header {
    display: flex;
    align-items: center;
    width: 1280px;
    height: 130px;
    right: 186px;
    padding: 10px  33px 11px 32px;
    gap: 0px;
    opacity: 0px;
    position: absolute;
    top: 0px;
    left: 180px;
    
    
  }
  
  .header-container {
    display: flex;
    width: 1280px;
    height: 68px;
    top: 99px;
    left: 32px;
    gap: 0px;
    justify-content: space-between;
    opacity: 0px;
    
  
  }
  
  
  .header-left {
    display: flex;
    align-items: center;
    width: 958px;
    height: 68px;
    gap: 24px;
    opacity: 0px;
   
  
  }
  
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  
    
  }
  
  .header-title {
    color: #4a4a4a;
    font-size: 14px;
    margin: 0;
    width: 58px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    font-weight: 500;
    line-height: 35px;
    text-align: left;
    color: #707EAE;
   
  
  
  }
  
  .sub-title {
    color: #2B3674;
    font-size: 24px;
    margin: 0;
    width: 172px;
    height: 42px;
    top: 21px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 34px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: -0.02em;
    text-align: left;
  
  
  
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    background-color: #F4F7FE;
    padding: 5px 15px;
    width: 200px;
    height: 30px;
    gap: 0px;
    border-radius: 49px 49px 49px 49px;
    opacity: 0px;
    position: absolute;
    right: 410px;
    
  
  }
  
  .search-bar input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    margin-left: 10px;
    flex: 1;
   
  
  }
  .search-input::placeholder{
    color: #8F9BBA;
  }
  
  .search-icon {
    width: 11px;
    height: 11px;
    top: 17px;
    left: 20px;
    gap: 0px;
    border: 1.4px 0px 0px 0px;
    opacity: 0px;
  
  
  }
  
  .header-right {
    display: flex;
    align-items: center;
    width: 260px;
    height: 64px;
   
  
  }
  
  .actions {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 240px;
    height: 55px;
    gap: 20px;
    opacity: 0px;
    border-radius: 50px 50px 50px 50px;
    border: 1.4px 0px 0px 0px;
    box-shadow: 14px 17px 40px 4px #7090B014;
   
   
  
    
    
  
  }
  .icon1{
    width: 41px;
    height: 15px;
    gap: 3px;
    opacity: 0px;
  }
  .icon2{
    width: 24px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
  
  }
  .icon3{
    width: 18px;
    height: 18px;
    padding: 0px 0.96px 0px 0.96px;
    gap: 0px;
    opacity: 0px;
  
  }
  .icon4{
    width: 24px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
  
  }
  
  .profile-pic {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    object-fit: cover;
    
  }
  
    