body{
    margin: 0;
    padding: 0;
    

    
}
.right-containers{
    width: 600px;
    height: 860px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    position: relative;
    left: 850px;
    top: 10px;
    
    
    
    
   
}

.signup-image img {
    height: 710px; 
    border-radius: 8px; 
    width: 650px;
    position: fixed;
    
    
}